
@keyframes WelcomeMsg {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  25% {
    transform: translateX(-100%) translateX(-24px);
    opacity: 1.0;
  }
  75% {
    transform: translateX(-100%) translateX(-24px);
    opacity: 1.0;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

.logging-tabs p {
  text-transform: capitalize;
  color: #FFFFFF;
  transform: translateY(-50%);
  white-space: nowrap;
}

.logging-tabs box {
  position: absolute;
  height: 2px;
  width: 200px;
  transform: translate(-50%, -25px);
}

.logging-tabs li {
  float: left;
  margin: 0 4px;
  background-color: #404050;
  min-width: 200px;
  top: 20px;
  height: 28px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.logging-tabs ul {
  position: absolute;
  left: 148px;
}

.console-log {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.console-log textarea {
  background-color: inherit;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 16px;
  border: 0;
  outline-color: 0;
  cursor: default;
  color: #FFFFFF;
  font-family: Nunito;
}

.welcome-msg {
  position: absolute;
  animation: WelcomeMsg;
  animation-duration: 5s;
  color: #FFAA00;
  font-size: 32px;
  top: 64px;
  left: 100%;
  opacity: 0;
  white-space: nowrap;
}

body {
  overflow: hidden;
  font-family: Nunito;
}

.tab-controls img {
  width: 36px;
  height: 36px;
}

.tab-controls li img:hover {
  transform: scale(0.9);
}

.tab-controls li {
  margin: 0 4px;
  float: left;
  cursor: pointer;
  transform: translate(-95%, -25%);
}

ul {
  list-style: none;
}

.title-bar .title-icon img {
  position: absolute;
  top: 0;
  left: 100%;
  width: 48px;
  height: 100%;
  transform: translate(-100%, 0) scale(0.75);
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #373742;
  box-shadow: 0 0 8px #202024;
}

.input-bar {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 48px;
  transform: translate(0, -100%);
  background-color: #161621;
}

.input-bar input {
  position: absolute;
  padding: 0 8px;
  width: inherit;
  height: inherit;
  color: #FFAA00;
  font-family: Nunito;
  font-size: 24px;
  outline-color: black;
  background-color: #161621;
  border: 0;
}
